@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Single+Day&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poor Story', system-ui;
  font-family: 'Single Day', cursive;
  box-sizing: border-box;
}

body {
  background: repeating-linear-gradient(#F1EDE9, #F1EDE9 31px, #94ACD4 31px, #94ACD4 32px);
  margin: 0;
}

.header {
  text-align: center;
  font-size: 2.2em;
  height: auto;
  margin-bottom: 20px;
  color: #333;
  background: #F1EDE9;
  padding: 30px 10px;
  text-shadow: #2f2d2d;
  background-image: linear-gradient(
      90deg,
      #F1EDE9 12px, 0,
      #312e2e 15px, 0,
      #333 20px, 0,
      #F1EDE9 100%
    ),
    radial-gradient(
      circle closest-side,
      rgba(255,255,255,0) 88%,
      #F1EDE9 100%
    ),
    radial-gradient(
      circle at 22px 8px,
      #312e2e 40%,
      #333 40%,
      #F1EDE9 100%
    );
  background-size: 32px 8px, 32px 16px, 32px 16px;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
  
  &--alt {
    background-image: linear-gradient(90deg, #fff 12px, 0, #00486B 15px, 0 ,#1373A9 20px, 0,#fff 100%),radial-gradient(circle closest-side,rgba(255,255,255,0) 88%,#fff 100%),radial-gradient(circle at 22px 8px,#1373A9 40%,#00486B 40%,#00486B 100%);
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 21'%3E%3Cpath d='M20 0h-7v6.9a7.5 7.5 0 107 0V0z' fill='%231373A9'/%3E%3Cpath d='M13 0h3v6.9a7.5 7.5 0 002 14 7.5 7.5 0 01-9-7.4c0-2.9 1.6-5.4 4-6.6V0z' fill='%2300486B'/%3E%3C/svg%3E");
    background-size: 2em 1.3125em;
  }
}

.content-container {
  background: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 300px 25px rgba(222, 198, 122, 0.7) inset;
  width: 400px;
  height: auto;
  margin: 1.5% auto;
  padding: 24px;
  position: relative;
  font-size: 1.1em;
}

.content-container::before,
.content-container::after {
  content: "";
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 300px rgba(222, 198, 122, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  transition: 0.5s;
}

.content-container::before {
  left: -5px;
  top: 2px;
  transform: rotate(-1.5deg);
}

.content-container::after {
  right: -3px;
  top: 0px;
  transform: rotate(2.4deg);
}

.content-container:hover::before,
.content-container:hover::after {
  transform: rotate(0deg);
  border: solid rgba(53, 52, 52, 0.4);
}

.content-container:hover::before {
  left: -6px;
  top: -6px;
}

.content-container:hover::after {
  right: 3px;
  top: -3px;
}

.input-container {
  margin-bottom: 20px;
  text-align: center;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(53, 52, 52, 0.4);
  font-size: 1.2em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: inset 0 1px 2px rgba(53, 52, 52, 0.4);
  font-size: 1.3em;
  text-align: center;
}

#targetAttendance {
  text-align: center;
  width: 80px;
  height: 30px;
  padding: 5px;
  margin: auto;
}

#targetAttendance select {
  width: 100%;
  text-indent: 50%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(53, 52, 52, 0.4);
}

button {
  width: calc(100% - 40px);
  padding: 1.3em 3em;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #333;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(53, 52, 52, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

button:hover {
  color: #333;
  background-color: #ffffff;
  box-shadow: 0px 15px 20px rgba(53, 52, 52, 0.4);
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}


.result {
  content: '';
  align-items: center;
  text-align: center;
  padding: 0px 30px;
  font-size: 1.2em;
  color: #333;
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
